#nav-bar {
  /*border: 1px solid black;*/
  display: flex;
  padding: 10px;
}

#nav-bar > h1 {
  flex: 3;
  font-size: 1.5em;
  margin: 0px;
}

#links {
  
  list-style-type: none;
}

#donate-link, #volunteer-link {
  cursor: pointer;
  flex: 0.5;
  margin-top: 6px;
}

#volunteer-link {
  margin-right: 55px;
}

/*#header {
  border: 1px solid purple;
}*/

#donate-button-wrapper{
  text-align: center;
}

#donate-btn {
  text-align: center;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  padding: 6px;
  background-color:#6E89EB;
  cursor: pointer;
  color: white; 
}

#header-wrapper{
  margin-bottom: 25px;
}

#header{
  padding-top: 75px;
  text-align: center;
}

#header > h1{
  padding: 0px 150px;
}

#header-wrapper{
  padding-bottom: 100px;
}

#bullet-point-ctr{
  display:flex;
  flex-direction: column;
}

.bullet-point{
  width: 15px;
  height: 15px;
  border: 1px solid black;
}