#nav-bar {
  border: 1px solid black;
  display: flex;
  padding: 10px;
}

#nav-bar > h1 {
  flex: 3;
  font-size: 1.5em;
  margin: 0px;
}

#links {
  list-style-type: none;
}

#donate-link, #volunteer-link {
  flex: 0.5;
  margin-top: 6px;
}

#volunteer-link {
  margin-right: 55px;
}

#header {
  border: 1px solid purple;
}

#donate-btn {
  width: 25px;
  height: 15px;
  background-color: blue;
}
